*{

}
header{
    font: size 30px;
    font-style:bold;
    padding:auto;
}

.ulfooter{
    display: inline-block;
    text-align: center;
}

.text-muted{
    text-align:center;
    font-size:22px;
    color:white;
    font-style:bold;
    font-family:'Times New Roman', Times, serif;
}

.ms-3{
    list-style-type: none;
    justify-content: center;
    display: inline;
}
.iconofooter{
    width:30px;
    margin:5px 5px;
}
.logonotindex{
    margin: auto;
}

.h1{
    text-align: left;
    margin-left: 10px;
    font-size: 25px;
    padding: 20px 20 px;
    font-style: italic bold;
}



nav{
    font-size: 0,3cm;
    font-style: italic;
    margin-top:320px;
    justify-content:center;
    margin-right:30px;
}

.menu{
    font-size: 26px;
    font-weight: 300;
    color: grey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid 2px grey ;
    border-radius: 10px 15px;
    background-color: rgb(201, 197, 197);
    padding-left: 0% ;
    padding-right: 0%;
    margin:auto;
    list-style-type: none;
    text-align: center;
    align-content: center;
}

.li{
    display: inline-block;
    width: 23%;
    position: relative;
    font-size: 18px;
    padding:auto;
    border-radius: 15px;   
}

.li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #8F2173;
}

.li a:hover{
    background-color: #8F2173;
    color: white;
    border-radius: 18px;
}

body{
    font-family: 'Plus Jakarta Sans'; 
    background-image: url("../Multimedia/backgroundimageok.png");
    background position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    color: white;
    margin:auto;
    padding:auto;
}

::-webkit-scrollbar{
    display:none;
}

.bodynotindex{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

.imagenarticulo{
    padding-bottom: 0px;
    padding-top: 0px;
    margin left: 30px;
    border-style: ridge;
    border-color: grey;

}

.wrapper{
    display:grid;
    grid-gap:auto;
    grid-auto-rows: 2fr 1fr;
    grid-template-columns: 1fr;
}
.uno{
    grid-column: 1;
    grid-row:1/4;
}

.imagenarticulo1{
    margin: 15px 15px;
    border-style: ridge;
    border-color: grey;
}

.dos{
    grid-column: 2;
    grid-row: 1/5;
}
.tres{
    grid-column: 2;
    grid-row: 3/5;
}
h2{
    font-size: 40px;
    font-style: oblique;

}

p{
    font-size: 19px;
}

footer{
    font-style: italic;
    direction: rtl;
}




.logonotindex{
    border-radius: 60px;
    height: 86px;
    float:right;
    margin-top: 0 auto;
}

/* parte de quienes somos */

.headerquienessomos{
    margin: auto;
}
.mainquienessomos{
    display: flex;
    justify-content: flex-end;
}
.h1quienessomos{
    font-size:37px;
    margin-left:70px;

}

.articlequienessomos{
    margin: 65px;
    margin-left: auto;
    margin-top: 60px;
}

.asidequienessomos{
    padding: 4px;
    margin-top: 50px
}

.tituloquienessomos{
    margin-left: 60px;
    margin-top: auto;
}

.pquienessomos{
    text-align: justify;
    margin-right: 5px;
    padding: 20px;
}

.ulfooterquienessomos li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
}

/* parte de productos y servicios */

.foto1productos{
    width: 500px;
    justify-content: center;
    border:double;
    border-color: #8F2173;
    border-radius:10px;
    border-style: solid;
}

.foto2productos{
    width: 435px;
    justify-content: center;
    border:double;
    border-color: #8F2173;
    border-radius:10px;
}

.mainproductos{
    padding: 20px;
    display: flex;
    justify-content:space-around;
    
}

.bodyproductos{
    margin-left: auto;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

.parrafoproductos{
    text-align: justify;
    font-size: 18px;
    padding: 20px;

}


.headerproductos{
    margin-bottom: 25px;
}

.h1productos{
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
    margin-bottom: 105px;
    margin-top: 55px;
}

.tituloproducto{
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

.hrfooterproductos{
    margin-bottom: 35px;
    margin-top: 105px;
}

.paramasinfo{
    font-size: 25px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.divproductos{
    padding: auto;
    margin: auto;
}

.h3productos{
    padding: 10px;
    text-align: center;
}

/* astrologia a diario*/

.h1astroadiario{
    text-align: center;
    font-size: 42px;
    text-decoration: underline;
    margin-top: 10px;
}
.headerastroadiario{
    margin: 10px;
}

.h2astroadiario{
    text-align: left;
    font-size: 20px;
    margin-top: 55px;
    margin-bottom:50px;
    margin-left: 25px;
    text-decoration: underline;
}

.articuloastroadiario{
    justify-content: center;
    margin-bottom: 90px;
}

.imgastroadiario{
    display: block;
    margin: auto;
    justify-content: center;
}

.pastroadiario{
    text-align: justify;
    margin-left:90px;
    margin-right:90px;
    margin-top: 55px;
}

/*parte de CONTACTO*/
.container{
    margin-top:25px
}

.dondenosencontramos{
    text-align: center;
    text-transform: capitalize;
    font-size:arial;
    margin-top:85px;
}

iframe{
    margin-bottom: 65px;
}
.sectioncontacto{
    line-height:43px;
    margin:auto;
    display:-moz-grid-line;
    cursor:pointer;

}

.form-controltext{
    margin-top:10px;
    background-color:#b3bfe8;
    width:400px;
    height: 175px;
}
label{
    font-size:20px;
}

.mb-350{
    display: inline-block;
    justify-content:space-around;
}
.form-control{
    background-color:#b3bfe8;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    width:250px;
    height:20px;
}
.completardatospersonales{
    justify content:center;
}


/* Color Theme Swatches in Hex */
.plutonenlinea-1-hex { color: #7B90D4; }
.plutonenlinea-2-hex { color: #87C27A; }
.plutonenlinea-3-hex { color: #DBDA74; }
.plutonenlinea-4-hex { color: #C9AA57; }
.plutonenlinea-5-hex { color: #8F2173; }

/* Color Theme Swatches in RGBA */
.plutonenlinea-1-rgba { color: rgba(123, 144, 212, 1); }
.plutonenlinea-2-rgba { color: rgba(135, 194, 122, 1); }
.plutonenlinea-3-rgba { color: rgba(219, 218, 116, 1); }
.plutonenlinea-4-rgba { color: rgba(201, 170, 87, 1); }
.plutonenlinea-5-rgba { color: rgba(143, 33, 115, 1); }

/* Color Theme Swatches in HSLA */
.plutonenlinea-1-hsla { color: hsla(225, 50, 65, 1); }
.plutonenlinea-2-hsla { color: hsla(109, 37, 61, 1); }
.plutonenlinea-3-hsla { color: hsla(59, 58, 65, 1); }
.plutonenlinea-4-hsla { color: hsla(43, 51, 56, 1); }
.plutonenlinea-5-hsla { color: hsla(315, 62, 34, 1); }