
header{
    direction:rtl;
    font: size 30px;
    font-style:bold;
    padding-right: 20px;
    padding bottom: 0px;
}

.h1{
    text-align: left;
    margin-left: 10px;
    font-size: 25px;
    padding: 20px 20 px;
    font-style: italic bold;
}

.logo{
    padding-bottom: 30px;
    padding-top: 0px;
    margin margin-top: 1px;
}

center{
    padding-top:10px ;
    padding-bottom:10px ;
}

nav{
    font-size: 0,3cm;
    font-style: italic;
    margin-top: 0px;
}

.menu{
    display: block;
    font-size: 26px;
    font-weight: 300;
    color: grey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid 2px grey ;
    border-radius: 10px 15px;
    background-color: rgb(201, 197, 197);
    padding: 3px 15px;
    padding-bottom: 10px;
    margin-bottom: 45px;
    margin-left: auto;
    list-style-type: none;
    display: block;
    text-align: center;
}
.li{
    display: inline-block;;
    width: 18%;
    position: relative;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 15px;
}

body{
    font-family:     font-family: 'Plus Jakarta Sans'; 
    background-image: url("../Multimedia/BACKGROUND-IMAGE-GALAXY.jpg");
    background position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    color: white;

}

.imagenarticulo{
    padding-bottom: 0px;
    padding-top: 0px;
    margin left: 30px;
    border-style: ridge;
    border-color: grey;

}

h2{
    font-size: 40px;
    font-style: oblique;

}

p{
    font-size: 19px;
}

footer{
    font-style: italic;
    direction: rtl;
}

.ulfooter{
    line-height: 50px;
    list-style-type:none;
}



/* Color Theme Swatches in Hex */
.plutonenlinea-1-hex { color: #7B90D4; }
.plutonenlinea-2-hex { color: #87C27A; }
.plutonenlinea-3-hex { color: #DBDA74; }
.plutonenlinea-4-hex { color: #C9AA57; }
.plutonenlinea-5-hex { color: #8F2173; }

/* Color Theme Swatches in RGBA */
.plutonenlinea-1-rgba { color: rgba(123, 144, 212, 1); }
.plutonenlinea-2-rgba { color: rgba(135, 194, 122, 1); }
.plutonenlinea-3-rgba { color: rgba(219, 218, 116, 1); }
.plutonenlinea-4-rgba { color: rgba(201, 170, 87, 1); }
.plutonenlinea-5-rgba { color: rgba(143, 33, 115, 1); }

/* Color Theme Swatches in HSLA */
.plutonenlinea-1-hsla { color: hsla(225, 50, 65, 1); }
.plutonenlinea-2-hsla { color: hsla(109, 37, 61, 1); }
.plutonenlinea-3-hsla { color: hsla(59, 58, 65, 1); }
.plutonenlinea-4-hsla { color: hsla(43, 51, 56, 1); }
.plutonenlinea-5-hsla { color: hsla(315, 62, 34, 1); }