*{

}

body{
    margin: 20px 20px;
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
}

h1{
    margin: 115px;5px
}

.pquienessomos{
    margin: 105px 15px;
    text-align: justify;
}









footer{
    margin:auto
    font-color: white;
}

.ulfooter{
    list-style-type:none;
}